@()
<!DOCTYPE html>

@import play._

<html>
    <head>
        <title>Test</title>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/dust-core-0.6.0.min.js")"></script>
        <script src="@routes.Assets.at("example.js")"></script>
        <script>
  $(function() {
	$.get('@routes.Application.data', function(data) {
	  console.log('data = ' + JSON.stringify(data));
	  dust.render('example', data, function(err, out) {
	    $('#dust_pan').html(err ? err : out);
	  });
	});
  });
        </script>
    </head>
    <body>
       <div id="dust_pan">
       </div>
    </body>
</html>
